<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'myapp/css/style.css'%}">
        <meta charset="utf-8">
        <title>Login/Register</title>
    </head>
    <body>
        <fieldset>
            <legend><h3>Register</h3></legend>

            {% if messages %}
                {% for message in messages %}
                    {% if "register" in message.tags %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <form class="" action="/register" method="post">
                {% csrf_token %}
                <input type="text" name="fname" placeholder="First Name"><br>
                <input type="text" name="lname" placeholder="Last Name"><br>
                <input type="text" name="email" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" name="" value="Register"><br>
            </form>
        </fieldset>
        <fieldset>
            <legend><h3>Login</h3></legend>
            {% if messages %}
                {% for message in messages %}
                    {% if "login" in message.tags %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form class="" action="/login" method="post">
                {% csrf_token %}
                <input type="text" name="email" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" name="" value="Login"><br>
            </form>
        </fieldset>
    </body>
</html>
